<html>
<head>
<title><tmpl_var name="TITLE"></title>
<link rel="stylesheet" href="{tmpl_var name='CSS'}" type="text/css">
</head>
<body>
   <table width=85% align=center>
     <tr> 
       <td class="rahmen"><img src="{tmpl_var name='IMAGES_DIR'}edge_left_up.gif" width="3" height="3"></td>
       <td class="rahmen" background="{tmpl_var name='IMAGES_DIR'}bar_horizontal_top.gif"></td>
       <td class="rahmen" background="{tmpl_var name='IMAGES_DIR'}bar_horizontal_top.gif"><img src="{tmpl_var name='IMAGES_DIR'}bridge_top.gif" width="3" height="3"></td>
       <td class="rahmen" background="{tmpl_var name='IMAGES_DIR'}bar_horizontal_top.gif"></td>
       <td class="rahmen"><img src="{tmpl_var name='IMAGES_DIR'}edge_right_up.gif" width="4" height="3"></td>
     </tr>
     <tr> 
       <td class="rahmen" background="{tmpl_var name='IMAGES_DIR'}bar_vertical_left.gif"></td>
       <td class="rahmen"><img src="{tmpl_var name='IMAGES_DIR'}icons/habor2.gif"></td>
       <td class="rahmen" background="{tmpl_var name='IMAGES_DIR'}bridge_bar_vertical.gif"></td>
       <td class="scoretable_header"><img src="{tmpl_var name='IMAGES_DIR'}text/server-info.gif"></td>
       <td class="rahmen" background="{tmpl_var name='IMAGES_DIR'}bar_vertical_right.gif"></td>
     </tr>
     <tr> 
       <td class="rahmen"><img src="{tmpl_var name='IMAGES_DIR'}bridge_left.gif" width="3" height="2"></td>
       <td class="rahmen" background="{tmpl_var name='IMAGES_DIR'}bridge_bar_horizontal.gif" colspan="3"></td>
       <td class="rahmen" background="{tmpl_var name='IMAGES_DIR'}bar_vertical_right.gif" width="4" height="2"></td>
     </tr>
     <tr class="scoretable_hell"> 
       <td class="rahmen" background="{tmpl_var name='IMAGES_DIR'}bar_vertical_left.gif"></td>  
       <td class="rahmen" colspan="3">
	     Welcome to your fresh installation of <b>select(<i>bf</i>)</b>!<p>
	     This is the space where you can add your server-specific information and logos.<br>
	     The best way is to copy the complete <i>default</i>-template to a new directory in the
	     templates dir and change it the way you like.<br>
	     The informations you are currently reading are contained in the <i>head.html</i> of the 
	     <i>default</i> template.<p>
	     If you want to create you own <b>Template-set</b>, you should see the <b>vLib Template</b> documentation
	     at <a href="http://vlib.activefish.com" target=_blank>vlib.activefish.com</a>.<br>
	     Also look throught the <i>TEMPLATING.TXT</i> that came with your <b>select(<i>bf</i>)</b> package.
       </td>
       <td class="rahmen" background="{tmpl_var name='IMAGES_DIR'}/bar_vertical_right.gif"></td>
     </tr>
     <tr> 
       <td class="rahmen"><img src="{tmpl_var name='IMAGES_DIR'}/edge_left_down.gif" width="3" height="5"></td>
       <td class="rahmen" background="{tmpl_var name='IMAGES_DIR'}/bar_horizontal_down.gif" colspan="3"></td>
       <td class="rahmen"><img src="{tmpl_var name='IMAGES_DIR'}/edge_right_down.gif" width="4" height="5"></td>
     </tr>
   </table>
<p>
   <table width=85% align=center>
     <tr> 
       <td class="rahmen"><img src="{tmpl_var name='IMAGES_DIR'}edge_left_up.gif" width="3" height="3"></td>
       <td class="rahmen" background="{tmpl_var name='IMAGES_DIR'}bar_horizontal_top.gif"></td>
       <td class="rahmen"><img src="{tmpl_var name='IMAGES_DIR'}edge_right_up.gif" width="4" height="3"></td>
     </tr>
     <tr> 
       <td class="rahmen" background="{tmpl_var name='IMAGES_DIR'}bar_vertical_left.gif"></td>
       <td class="rahmen" width=100%>
        <table class="scoretable" width=100%>
         <tr>
          <th class=scoretable>Statistics</th>   
	  <tmpl_loop name="CONTEXTBAR">
	   <th class=scoretable>
  	    <nobr>
	    <img src="{tmpl_var name='IMAGES_DIR'}arrow_right.gif">
	    <tmpl_if name="link"><a href="{tmpl_var name='link'}" class=scoretable></tmpl_if>
	    <tmpl_var name="name">
	    <tmpl_if name="link"></a></tmpl_if>
	    </nobr>
           </th>		       
	  </tmpl_loop>
	   <th class=scoretable width=100%></th>		   
  	</table>			   	
	<table width=100%>
	 <tr>
	  <tmpl_loop name="NAVBAR">
	   <td class="navbarbutton"><a href="{tmpl_var name='link'}"><tmpl_var name='name'></a></td>
          </tmpl_loop>			 
         </tr>
        </table>  
       </td>
       <td class="rahmen" background="{tmpl_var name='IMAGES_DIR'}bar_vertical_right.gif"></td>
     </tr>     
     <tr> 
       <td class="rahmen"><img src="{tmpl_var name='IMAGES_DIR'}/edge_left_down.gif" width="3" height="5"></td>
       <td class="rahmen" background="{tmpl_var name='IMAGES_DIR'}/bar_horizontal_down.gif"></td>
       <td class="rahmen"><img src="{tmpl_var name='IMAGES_DIR'}/edge_right_down.gif" width="4" height="5"></td>
     </tr>     
   </table>
<p>
