<tmpl_include file="head.html">
   <table width=85% align=center>
     <tr> 
       <td class="rahmen"><img src="{tmpl_var name='IMAGES_DIR'}edge_left_up.gif" width="3" height="3"></td>
       <td class="rahmen" background="{tmpl_var name='IMAGES_DIR'}bar_horizontal_top.gif"></td>
       <td class="rahmen" background="{tmpl_var name='IMAGES_DIR'}bar_horizontal_top.gif"><img src="{tmpl_var name='IMAGES_DIR'}bridge_top.gif" width="3" height="3"></td>
       <td class="rahmen" background="{tmpl_var name='IMAGES_DIR'}bar_horizontal_top.gif"></td>
       <td class="rahmen"><img src="{tmpl_var name='IMAGES_DIR'}edge_right_up.gif" width="4" height="3"></td>
     </tr>
     <tr> 
       <td class="rahmen" background="{tmpl_var name='IMAGES_DIR'}bar_vertical_left.gif"></td>
       <td class="rahmen"><img src="{tmpl_var name='IMAGES_DIR'}icons/plane2.gif"></td>
       <td class="rahmen" background="{tmpl_var name='IMAGES_DIR'}bridge_bar_vertical.gif"></td>
       <td class="scoretable_header"><img src="{tmpl_var name='IMAGES_DIR'}text/map-statistics.gif"><br><tmpl_var name="head"></td>
       <td class="rahmen" background="{tmpl_var name='IMAGES_DIR'}bar_vertical_right.gif"></td>
     </tr>
     <tr> 
       <td class="rahmen"><img src="{tmpl_var name='IMAGES_DIR'}bridge_left.gif" width="3" height="2"></td>
       <td class="rahmen" background="{tmpl_var name='IMAGES_DIR'}bridge_bar_horizontal.gif" colspan="3"></td>
       <td class="rahmen" background="{tmpl_var name='IMAGES_DIR'}bar_vertical_right.gif" width="4" height="2"></td>
     </tr>
     <tr> 
       <td class="rahmen" background="{tmpl_var name='IMAGES_DIR'}bar_vertical_left.gif"></td>  
       <td class="rahmen" colspan="3">
        <table class="scoretable">
				 <tmpl_loop name="mapstats">
					<tr>
						 <th colspan="3" class="scoretable"><b><tmpl_var name="map"></b></th>
					</tr>
					 <tr class=scoretable_hell>
						 <td width="15%" rowspan="18" align="center" valign="middle"><a href="{tmpl_var name='mapdetaillink'}"><img src="{tmpl_var name='screen'}" width=128 height=94></a></td>
					 </tr>    
					 <tr class=axis>
						 <th width="85%" colspan=2 class=teamstats><b>Axis</b></th>
					 </tr>
					 <tr class=axis_hell>
						 <td width=15%>won rounds: </td>
						 <td><tmpl_var name="wins_team1"></td>
					 </tr>
					 <tr class=axis_hell>
						 <td><b>Kills:</b></td>
						 <td><tmpl_var name="kills_team1"></td>
					 </tr>
					 <tr class=axis_hell>
						 <td><b>Deaths:</b></td>
						 <td><tmpl_var name="deaths_team1"></td>
					 </tr>
					 <tr class=axis_hell>
						 <td><img src="{tmpl_var name='IMAGES_DIR'}icon_attacks.gif" alt="Basepoint Conquers"></td>
						 <td><tmpl_var name="attacks_team1"></td>
					 </tr>
					 <tr class=axis_dunkel>
						 <td colspan=2><u>on Axis win</u></td>
					 </tr>
					 <tr class=axis_hell>
						 <td class="axis">&Oslash; Tickets Axis</td>
						 <td><tmpl_var name="win_team1_end_tickets_team1"></td>
					 </tr>
					 <tr class=axis_hell>
						 <td class="allied">&Oslash; Tickets Allies</td>
						 <td><tmpl_var name="win_team1_end_tickets_team2"></td>
					 </tr>
					 <tr class=scoretable_hell>
  					<td colspan="2"><tmpl_var name="bar" escape="none"></td>
	  			 </tr>
					 <tr class=allied colspan=2>
						 <th class=teamstats><b>Allies</b></th>
						 <td></td>
					 </tr>
					 <tr class=allied_hell>
						 <td width=15%>won rounds: </td>
						 <td><tmpl_var name="wins_team2"></td>
					 </tr>
					 <tr class=allied_hell>
						 <td><b>Kills:</b></td>
						 <td><tmpl_var name="kills_team2"></td>
					 </tr>
					 <tr class=allied_hell>
						 <td><b>Deaths:</b></td>
						 <td><tmpl_var name="deaths_team2"></td>
					 </tr>
					 <tr class=allied_hell>
						 <td><img src="{tmpl_var name='IMAGES_DIR'}icon_attacks.gif" alt="Basepoint Conquers"></td>
						 <td><tmpl_var name="attacks_team2"></td>
					 </tr>
					 <tr class=allied_dunkel>
						 <td colspan=2><u>on Allies win</u></td>
					 </tr>
					 <tr class=allied_hell>
						 <td class=axis>&Oslash; Tickets Axis</td>
						 <td><tmpl_var name="win_team2_end_tickets_team1"></td>
					 </tr>
					 <tr class=allied_hell>
						 <td class=allied><span class="axis_blue">&Oslash; Tickets Allies</td>
						 <td><tmpl_var name="win_team2_end_tickets_team2"></td>
					 </tr>
				 </tmpl_loop>
			 </table> 
       </td>
       <td class="rahmen" background="{tmpl_var name='IMAGES_DIR'}/bar_vertical_right.gif"></td>
     </tr>
     <tr> 
       <td class="rahmen"><img src="{tmpl_var name='IMAGES_DIR'}/edge_left_down.gif" width="3" height="5"></td>
       <td class="rahmen" background="{tmpl_var name='IMAGES_DIR'}/bar_horizontal_down.gif" colspan="3"></td>
       <td class="rahmen"><img src="{tmpl_var name='IMAGES_DIR'}/edge_right_down.gif" width="4" height="5"></td>
     </tr>
   </table> 
<tmpl_include file="foot.html">