<tmpl_include file="frame_head.html">
      <p>
        <h3>Clear-Text Administration</h3><p>
        <tmpl_include name="messages.inc">
        <table class=admin width=100%>
         <tr>
		  <td class=help_text>
			Here you can enter <i>Clear-Text</i> for all <b>native Names</b> that appear within your <b>select(<i>bf</i>)</b> stats. Wherever possible the native Names will be replaced with the names that you entered.
		  </td>
		 </tr>
        </table>
        <h1>Game-Modes</h1>
        <tmpl_if name="ClearedGameModes">
         <table class=navbar width=50%>
          <tr class=head>
           <th>Native Game-Mode-Name</th>
           <th>Custom Game-Mode-Name</th>
           <th>&nbsp;</th>
          </tr>
          <tmpl_loop name="ClearedGameModes">
          <tmpl_if name="__EVEN__">
           <tr class="light">
          <tmpl_else>
           <tr class="dark">
          </tmpl_if>
           <td class=admin><tmpl_var name="original"></td>
           <td class=admin><tmpl_var name="custom"></td>
           <td class=admin><a href="{tmpl_var name='deletelink'}"><img src="{tmpl_var name='IMAGES_DIR'}icon_delete.gif"></a></td>
          </tr>
          </tmpl_loop>
         </table> 
        <tmpl_else>
         <table class=navbar>
          <tr class=head>
           <th><i>No Game-Modes cleared up</i></th>
          </tr>
         </table>
        </tmpl_if>
        <tmpl_if name="UnclearedGameModes">
        <p>
        <table class=admin width=100%>
		<form action="{tmpl_var name='form_action'}" method=post>
		<input type="hidden" name="{tmpl_var name='param_todo'}" value="{tmpl_var name='todo_value_gamemode'}">                
         <tr>
		  <td class=help_text colspan=5>
			Select a <b>native Game-Mode</b> to enter Clear-text for.
		  </td>
		 </tr>
         <tr class=light>
          <td class=admin_clear><nobr><b>Native Game-Mode:</b></nobr></td>
          <td class=admin_clear>
           <select name="{tmpl_var name='param_uncleared'}">
            <tmpl_loop name="UnclearedGameModes">
             <option><tmpl_var name="gamemode"></option>
            </tmpl_loop>
           </select>
          </td>
          <td class=admin_clear><nobr><b>Custom Text:</b></nobr></td>
          <td class=admin_clear><input type=text name="{tmpl_var name='param_cleared'}"></td>          
          <td class=admin_clear width=55%><input type="submit" value=Add></td>                    
         </tr>  
        </table>
        </form>
        </tmpl_if>


		<hr>


        <h1>Weapons</h1>
        <tmpl_if name="ClearedWeapons">
         <table class=navbar width=50%>
          <tr class=head>
           <th>Native Weaponname</th>
           <th>Custom Weaponname</th>
           <th>&nbsp;</th>
          </tr>
          <tmpl_loop name="ClearedWeapons">
          <tmpl_if name="__EVEN__">
           <tr class="light">
          <tmpl_else>
           <tr class="dark">
          </tmpl_if>
           <td class=admin><tmpl_var name="original"></td>
           <td class=admin><tmpl_var name="custom"></td>
           <td class=admin><a href="{tmpl_var name='deletelink'}"><img src="{tmpl_var name='IMAGES_DIR'}icon_delete.gif"></a></td>
          </tr>
          </tmpl_loop>
         </table> 
        <tmpl_else>
         <table class=navbar>
          <tr class=head>
           <th><i>No Weapons cleared up</i></th>
          </tr>
         </table>
        </tmpl_if>
        <tmpl_if name="UnclearedWeapons">
        <p>
        <table class=admin width=100%>
		<form action="{tmpl_var name='form_action'}" method=post>
		<input type="hidden" name="{tmpl_var name='param_todo'}" value="{tmpl_var name='todo_value_weapon'}">                
         <tr>
		  <td class=help_text colspan=5>
			Select a <b>native Weapon</b> to enter Clear-text for.
		  </td>
		 </tr>
         <tr class=light>
          <td class=admin_clear><nobr><b>Native Weapon:</b></nobr></td>
          <td class=admin_clear>
           <select name="{tmpl_var name='param_uncleared'}">
            <tmpl_loop name="UnclearedWeapons">
             <option><tmpl_var name="weapon"></option>
            </tmpl_loop>
           </select>
          </td>
          <td class=admin_clear><nobr><b>Custom Text:</b></nobr></td>
          <td class=admin_clear><input type=text name="{tmpl_var name='param_cleared'}"></td>          
          <td class=admin_clear width=55%><input type="submit" value=Add></td>                    
         </tr>  
        </table>
        </form>
        </tmpl_if>
         		
		<hr>

        <h1>Vehicles</h1>
        <tmpl_if name="ClearedVehicles">
         <table class=navbar width=50%>
          <tr class=head>
           <th>Native Vehiclename</th>
           <th>Custom Vehiclename</th>
           <th>&nbsp;</th>
          </tr>
          <tmpl_loop name="ClearedVehicles">
          <tmpl_if name="__EVEN__">
           <tr class="light">
          <tmpl_else>
           <tr class="dark">
          </tmpl_if>
           <td class=admin><tmpl_var name="original"></td>
           <td class=admin><tmpl_var name="custom"></td>
           <td class=admin><a href="{tmpl_var name='deletelink'}"><img src="{tmpl_var name='IMAGES_DIR'}icon_delete.gif"></a></td>
          </tr>
          </tmpl_loop>
         </table> 
        <tmpl_else>
         <table class=navbar>
          <tr class=head>
           <th><i>No Vehicles cleared up</i></th>
          </tr>
         </table>
        </tmpl_if>
        <p>
        <tmpl_if name="UnclearedVehicles">
        <table class=admin width=100%>
		<form action="{tmpl_var name='form_action'}" method=post>
		<input type="hidden" name="{tmpl_var name='param_todo'}" value="{tmpl_var name='todo_value_vehicle'}">                
         <tr>
		  <td class=help_text colspan=5>
			Select a <b>native Vehicle</b> to enter Clear-text for.
		  </td>
		 </tr>
         <tr class=light>
          <td class=admin_clear><nobr><b>Native Vehicle:</b></nobr></td>
          <td class=admin_clear>
           <select name="{tmpl_var name='param_uncleared'}">
            <tmpl_loop name="UnclearedVehicles">
             <option><tmpl_var name="vehicle"></option>
            </tmpl_loop>
           </select>
          </td>
          <td class=admin_clear><nobr><b>Custom Text:</b></nobr></td>
          <td class=admin_clear><input type=text name="{tmpl_var name='param_cleared'}"></td>          
          <td class=admin_clear width=55%><input type="submit" value=Add></td>                    
         </tr>  
        </table>
        </form>
        </tmpl_if>
    
        <hr>
	
	    <h1>Maps</h1>
        <tmpl_if name="ClearedMaps">
         <table class=navbar width=50%>
          <tr class=head>
           <th>Native Mapname</th>
           <th>Custom Mapname</th>
           <th>&nbsp;</th>
          </tr>
          <tmpl_loop name="ClearedMaps">
          <tmpl_if name="__EVEN__">
           <tr class="light">
          <tmpl_else>
           <tr class="dark">
          </tmpl_if>
           <td class=admin><tmpl_var name="original"></td>
           <td class=admin><tmpl_var name="custom"></td>
           <td class=admin><a href="{tmpl_var name='deletelink'}"><img src="{tmpl_var name='IMAGES_DIR'}icon_delete.gif"></a></td>
          </tr>
          </tmpl_loop>
         </table> 
        <tmpl_else>
         <table class=navbar>
          <tr class=head>
           <th><i>No Maps cleared up</i></th>
          </tr>
         </table>
        </tmpl_if>
        <tmpl_if name="UnclearedMaps">
        <p>
        <table class=admin width=100%>
		<form action="{tmpl_var name='form_action'}" method=post>
		<input type="hidden" name="{tmpl_var name='param_todo'}" value="{tmpl_var name='todo_value_map'}">                
         <tr>
		  <td class=help_text colspan=5>
			Select a <b>native Map</b> to enter Clear-text for.
		  </td>
		 </tr>
         <tr class=light>
          <td class=admin_clear><nobr><b>Native Map:</b></nobr></td>
          <td class=admin_clear>
           <select name="{tmpl_var name='param_uncleared'}">
            <tmpl_loop name="UnclearedMaps">
             <option><tmpl_var name="map"></option>
            </tmpl_loop>
           </select>
          </td>
          <td class=admin_clear><nobr><b>Custom Text:</b></nobr></td>
          <td class=admin_clear><input type=text name="{tmpl_var name='param_cleared'}"></td>          
          <td class=admin_clear width=55%><input type="submit" value=Add></td>                    
         </tr>  
        </table>
        </form>
        </tmpl_if>
                
        <hr>
	
        <h1>Kits</h1>
        <tmpl_if name="ClearedKits">
         <table class=navbar width=50%>
          <tr class=head>
           <th>Native Kitname</th>
           <th>Custom Kitname</th>
           <th>&nbsp;</th>
          </tr>
          <tmpl_loop name="ClearedKits">
          <tmpl_if name="__EVEN__">
           <tr class="light">
          <tmpl_else>
           <tr class="dark">
          </tmpl_if>
           <td class=admin><tmpl_var name="original"></td>
           <td class=admin><tmpl_var name="custom"></td>
           <td class=admin><a href="{tmpl_var name='deletelink'}"><img src="{tmpl_var name='IMAGES_DIR'}icon_delete.gif"></a></td>
          </tr>
          </tmpl_loop>
         </table> 
        <tmpl_else>
         <table class=navbar>
          <tr class=head>
           <th><i>No Kits cleared up</i></th>
          </tr>
         </table>
        </tmpl_if>
        <tmpl_if name="UnclearedKits">
        <p>
        <table class=admin width=100%>
		<form action="{tmpl_var name='form_action'}" method=post>
		<input type="hidden" name="{tmpl_var name='param_todo'}" value="{tmpl_var name='todo_value_kit'}">        
         <tr>
		  <td class=help_text colspan=5>
			Select a <b>native Kit</b> to enter Clear-text for.
		  </td>
		 </tr>
         <tr class=light>
          <td class=admin_clear><nobr><b>Native Kit:</b></nobr></td>
          <td class=admin_clear>
           <select name="{tmpl_var name='param_uncleared'}">
            <tmpl_loop name="UnclearedKits">
             <option><tmpl_var name="kit"></option>
            </tmpl_loop>
           </select>
          </td>
          <td class=admin_clear><nobr><b>Custom Text:</b></nobr></td>
          <td class=admin_clear><input type=text name="{tmpl_var name='param_cleared'}"></td>          
          <td class=admin_clear width=55%><input type="submit" value=Add></td>                    
         </tr>  
        </table>
        </form>   
        </tmpl_if>   
<tmpl_include file="frame_foot.html">	  