<html>
<head>
<title>select(bf) - Setup</title>
<link rel="stylesheet" href="templates/default/include/style.css" type="text/css">
</head>
<body>
<table width="95%" border="1" align="center">
  <tr class="head">
    <th class="super" scope="col">Setup 0.5</th>
  </tr>
  <tr>
    <td class=admin>
  <tmpl_if name="msg">
  <table class=navbar width=300>
   <tr class=head>
    <th><img src="templates/default/images/icon_message.gif" align=absmiddle hspace=2> Notice</th>
   </tr>
   <tr>
    <td class=admin>
     <tmpl_var name="msg" escape="none">
     <p>
    </td>
   </tr>
  </table>
  <p>
  <tmpl_else>
  <tmpl_if name="error">
  <table class=navbar width=300>
   <tr class=axis>
    <th><img src="templates/default/images/icon_error.gif" align=absmiddle hspace=2> Error</th>
   </tr>
   <tr>
    <td class=admin>
     <tmpl_var name="error" escape="none">
     <p>
    </td>
   </tr>
  </table>
  <tmpl_else>
      <b>Welcome</b> to the <b>select(<i>bf</i>)</b>-Setup!<br>
			With this page you can add the needed tables for your <b>select(<i>bf</i>)</b>-Stats to the configured database.<br>
			<b>PLEASE NOTE:</b> It is NOT possible in any way to update from 0.3b to 0.4!!! Don't try! There is too much internally that has changed. Mostly stuff you cannot see from the outside.
  </tmpl_if> 
  </tmpl_if> 
  <tmpl_if name='done'>
      <b>Please</b>, klick <a href="index.php">here</a> to continue to your stats!<br>
      And <b>don't forget</b> to remove the <i>_setup.php</i> from your webserver!!<p>
  </tmpl_if>      
    </td>
  </tr>
  <tr class=darker>
    <th>from scratch</th
  </tr>
  <form action="_setup.php" method=post>
  <input type="hidden" name=todo value=scratch>
  <tr>
    <td class=admin>
      <b>Please</b> choose your access information for the Admin-Mode:<br>
      <table class=navbar>
        <tr>
          <td class=admin_clear>Admin-Password:</td>
          <td class=admin_clear><input type=password name=password {tmpl_if name='done'}disabled{/tmpl_if}></td>
        </tr>
        <tr>
          <td class=admin_clear>Confirm:</td>
          <td class=admin_clear><input type=password name=confirm {tmpl_if name='done'}disabled{/tmpl_if}></td>    
        </tr>
      </table>
    </td>
  </tr>
  <tr>
    <td class=admin><input type=submit value="install datamodell" {tmpl_if name='done'}disabled{/tmpl_if}></td>    
  </tr>   
  </form>
  <tr class=darker>
    <th>remove <b>select(<i>bf</i>)</b> from the database</th
  </tr> 
  <form action="_setup.php" method=post>   
  <input type="hidden" name="todo" value="reset">
  <tr>
    <td class=admin>Use this button to completely remove the <b>select(<i>bf</i>)</b>-datamodell from your database.<br>This will also <b>delete</b> all data!</td>
  </tr>  
  <tr>
    <td class=admin><input type="checkbox" name="sure" value="true" {tmpl_if name='deleted'}disabled{/tmpl_if}> I'm sure</td>
  </tr>
  <tr>
    <td class=admin><input type="checkbox" name="reallysure" value="true" {tmpl_if name='deleted'}disabled{/tmpl_if}> I'm really sure</td>
  </tr>  
  <tr>
    <td><input type="submit" value="remove the datamodell" {tmpl_if name='deleted'}disabled{/tmpl_if}></td>
  </tr>    
  </form>
</table> 
<br>
<center>generated by <a href="http://www.selectbf.org">select(bf)</a></center>
<center>licensed under conditions of the <a href="http://www.gnu.org/licenses/gpl.txt" target="_blank">GeneralPublicLicense (GPL)</a></center>
</body>
</html>