<tmpl_include file="head.html">
 <table width="95%" border="1" align="center">
   <tr class="head">
     <th class="super" scope="col" colspan=2>Game-Details</th>
   </tr>
   <tr class=head>
	 <th colspan=2><nobr><tmpl_var name="servername"></nobr></th>         
   </tr> 
   <tr class=light>
     <td width=25%>Mod:</td>
     <td><tmpl_var name="mod"> <img src="{tmpl_var name="modimg"}" align=absmiddle></td>
   </tr>
   <tr class="dark">
     <td>GameID:</td>
     <td><tmpl_var name="id"></td>
   </tr>         
   <tr class="light">
     <td>Game-Mode:</td>
     <td><tmpl_var name="game_mode"></td>
   </tr> 
   <tr class="dark">
     <td>Map:</td>
     <td><tmpl_var name="map"></td>
   </tr>          
   <tr class="light">
     <td>Game-Time:</td>
     <td><tmpl_var name="gametime"></td>
   </tr>                    
   <tr class="dark">
     <td>Player-Limit:</td>
     <td><tmpl_var name="maxplayers"></td>
   </tr>
   <tr class="light">
     <td>Score-Limit:</td>
     <td><tmpl_var name="scorelimit"></td>
   </tr>
   <tr class="dark">
     <td>Spawn-Time:</td>
     <td><tmpl_var name="spawntime"></td>
   </tr>
   <tr class="light">
     <td>Friendly-Fire (Soldiers):</td>
     <td><tmpl_var name="soldierff"></td>
   </tr>
   <tr class="dark">
     <td>Friendly-Fire (Vehicles):</td>
     <td><tmpl_var name="vehicleff"></td>
   </tr>
   <tr class="light">
     <td>TK Punish:</td>
     <td><tmpl_var name="tkpunish"></td>
   </tr>
   <tr class="dark">
     <td>Deathcam-Type:</td>
     <td><tmpl_var name="deathcamtype"></td>
   </tr>
 </table>  
<tmpl_loop name="rounds">
 <p>
 <table>
 <table width="95%" border="1" align="center">
   <tr class="head">
     <th class="super" scope="col" colspan=2>Round <tmpl_var name="__ROWNUM__"></th>
   </tr>
   <tr class="head">
     <th colspan=2>Starttime: <tmpl_var name="starttime"></nobr></th>         
   </tr>
   <tr class="dark">
     <th class="axis" width=25%>Red team started with:</th>
     <td><tmpl_var name="start_tickets_team1"> Tickets</td>
   </tr>
   <tr class="light">
     <th class="allied">Blue team started with:</th>
     <td><tmpl_var name="start_tickets_team2"> Tickets</td>
   </tr>
   <tr class="dark">
     <th class="axis">Red team finished with:</th>
     <td><tmpl_var name="end_tickets_team1"> Tickets</td>
   </tr>
   <tr class="light">
     <th class="allied">Blue team finished with:</th>
     <td><tmpl_var name="end_tickets_team2"> Tickets</td>
   </tr>   
<tmpl_if name="isForced">
   <tr class="dark">
     <td colspan=2>The <b>Log</b> was missing a definite round-end.</td>
   </tr>
</tmpl_if>
<tmpl_if name="isRestart">
   <tr class="dark">
     <td colspan=2>This round was <b>restarted</b>!</td>
   </tr>   
</tmpl_if> 
<tmpl_if name="isRegular">
 <tmpl_if name="axis_won">
   <tr class="dark">
     <th colspan=2 class=axis><img src="{tmpl_var name='IMAGES_DIR'}axis_flag.gif" align=absmiddle hspace=2>Red team won the round!</th>
   </tr>         	
 <tmpl_else>
 <tmpl_if name="allies_won">  
   <tr class="dark">
     <th colspan=2 class=allied><img src="{tmpl_var name='IMAGES_DIR'}allied_flag.gif" align=absmiddle hspace=2>Blue team won the round!</th>
   </tr>         	
 <tmpl_else>
    <tr class="dark">
     <th colspan=2>Nobody won the round!</th>
   </tr>         	
 </tmpl_if>   
 </tmpl_if>
   <tr class="light">
     <td colspan=2> </td>
   </tr>
<tmpl_if name="chat">
   <tr class="dark">
     <th colspan=2><strong><a href="{tmpl_var name='chatloglink'}"><nobr>Chat Log</nobr></a><strong></th>
   </tr>
</tmpl_if>
   <tr class="light">
     <td colspan=2> </td>
   </tr>
<tmpl_if name="topthree">
   <tr class="darker">
     <th colspan=2>Battlefield "End-of-Game"-Ranking</th>
   </tr>
   <tr class="dark">
     <td colspan=2>
       <table class="navbar" width=100%>
         <tr class=head>
           <th class=number>Rank</th>
           <th>Player</th>
           <th class=number>Team</th>
           <th class=number>Score</th>
           <th class=number>Kills</th>
           <th class=number>Deaths</th>
           <th class=number>TKs</th>
           <th class=number><img src="{tmpl_var name='IMAGES_DIR'}icon_attacks.gif" alt="Conquests" title="Conquests"></th>
         </tr>
<tmpl_loop name="topthree">
<tmpl_if name="__EVEN__">
         <tr class="light">
<tmpl_else>
         <tr class="dark">
</tmpl_if>
           <td class=number><tmpl_var name='__ROWNUM__'></td>
		   <td><a href="{tmpl_var name='playerdetaillink'}"><nobr><img src="{tmpl_var name='playerimg'}" align=absmiddle hspace=2><tmpl_var name='name'></nobr></a>&nbsp;<img src="{tmpl_var name="starimg"}"></td>
		   <td class=number><img src="{tmpl_var name="TeamFlag"}"></td>
		   <td class=number><tmpl_var name='score'></td>
		   <td class=number><tmpl_var name='kills'></td>
		   <td class=number><tmpl_var name='deaths'></td>
		   <td class=number><tmpl_var name='tks'></td>
		   <td class=number><tmpl_var name='attacks'></td>
		 </tr>
</tmpl_loop>
       </table>
     </td>
   </tr>
</tmpl_if>
<tmpl_if name="axis">
<tmpl_if name="allied">
   <tr class="head">
     <th class=axis width=50%>Red Team</td>
     <th class=allied>Blue Team</td>          
   </tr>
   <tr class="dark">
     <td valign=top>
       <table width=100% class=navbar>
         <tr class=axis>
           <th class=teamstats>#</th>
           <th class=teamstats>Player</th>
           <th class=teamstats>Score</th>
           <th class=teamstats>Kills</th>
	   <th class=teamstats>Deaths</th>
         </tr>   
<tmpl_loop name="axis">
<tmpl_if name="__EVEN__">
         <tr class="axis_hell">
<tmpl_else>
         <tr class="axis_dunkel">
</tmpl_if>
    	   <td><tmpl_var name="__ROWNUM__"></td>
    	   <td><a href="{tmpl_var name='playerdetaillink'}"><img src="{tmpl_var name='IMAGES_DIR'}axis_flag.gif" align=absmiddle hspace=2><tmpl_var name="name"></a><tmpl_if name="starimg"><img src="{tmpl_var name="starimg"}"></tmpl_if></td>
    	   <td><tmpl_var name="score"></td>
    	   <td><tmpl_var name="kills"></td>
    	   <td><tmpl_var name="deaths"></td>    		     		     		     		 
    	 </tr>
</tmpl_loop>
       </table>
     </td>
     <td valign=top>
       <table width=100% class=navbar>
         <tr class=allied>
           <th class=teamstats>#</th>
           <th class=teamstats>Player</th>
           <th class=teamstats>Score</th>
           <th class=teamstats>Kills</th>
	       <th class=teamstats>Deaths</th>
    	 </tr>
<tmpl_loop name="allied">
<tmpl_if name="__EVEN__">
         <tr class="allied_hell">
<tmpl_else>
         <tr class="allied_dunkel">
</tmpl_if>
    	   <td><tmpl_var name="__ROWNUM__"></td>
    	   <td><a href="{tmpl_var name='playerdetaillink'}"><img src="{tmpl_var name='IMAGES_DIR'}allied_flag.gif" align=absmiddle hspace=2><tmpl_var name="name"></a><tmpl_if name="starimg"><img src="{tmpl_var name="starimg"}" hspace=2></tmpl_if></td>
    	   <td><tmpl_var name="score"></td>
    	   <td><tmpl_var name="kills"></td>
    	   <td><tmpl_var name="deaths"></td>    		     		     		     		 
         </tr>
</tmpl_loop>    		                                                            
       </table>          
     </td>
   </tr>
</tmpl_if> 
</tmpl_if>  
</tmpl_if>
   <tr class=head>
     <th class=head colspan=2>Endtime: <tmpl_var name="endtime"></th>
   </tr>
 </table>
</tmpl_loop>
        
 
<tmpl_include file="foot.html">   
