<html>
<head>
<title><tmpl_var name="TITLE"></title>
<link rel="stylesheet" href="{tmpl_var name='CSS'}" type="text/css">
</head>
<body>
<table width="95%" border="1" align="center">
  <tr class="head">
    <th colspan="12" class="super" scope="col">Server-Information</th>
  </tr>
  <tr>
   <td width=150><img src="{tmpl_var name='IMAGES_DIR'}s(bf)-logo.jpg"></td>
   <td width=100%>
     Welcome to your fresh installation of <b>select(<i>bf</i>)</b>!<p>
     This is the space where you can add your server-specific information and logos.<br>
     The best way is to copy the complete <i>default</i>-template to a new directory in the
     templates dir and change it the way you like.<br>
     The informations you are currently reading are contained in the <i>head.html</i> of the 
     <i>default</i> template.<p>
     If you want to create you own <b>Template-set</b>, you should see the <b>vLib Template</b> documentation
     at <a href="http://vlib.activefish.com" target=_blank>vlib.activefish.com</a>.<br>
     Also look throught the <i>TEMPLATING.TXT</i> that came with your <b>select(<i>bf</i>)</b> package.
   </td>
</table>
<p>
<table class=buttonmenu width=95% align=center>
  <tr>
     <td class=contextbar colspan=15><b>Navigation</b>
    <tmpl_loop name="CONTEXTBAR">
       <img src="{tmpl_var name='IMAGES_DIR'}arrow_right.gif">
       <tmpl_if name="link"><a href="{tmpl_var name='link'}" class=white></tmpl_if>
       <tmpl_var name="name">
       <tmpl_if name="link"></a></tmpl_if>
    </tmpl_loop>
    </td>
  </tr>
  <tr>
    <tmpl_loop name="NAVBAR">
     <td width=16% class=buttonInActive onClick="javascript: window.location.href='{tmpl_var name='link'}';" onMouseOver="this.className='buttonActive'; this.style.cursor='hand';" onMouseOut="this.className='buttonInActive';"><a href="{tmpl_var name='link'}" class=button><tmpl_var name='name'></a></td>
    </tmpl_loop>
  </tr>
</table>
<p>