<tmpl_include file="head.html">
 <table width="95%" border="1" align="center">
   <tr class="head">
     <th colspan="16" class="super" scope="col">Search Results</th>
   </tr>
<tmpl_if name="isPlayerSearch">   
   <tr class=head>
     <th class=number>ID</th>
     <th>Player</th>
     <th>since</th>
   </tr>
   <tmpl_loop name="searchresults">
   <tmpl_if name="__EVEN__">
   <tr class="light">
   <tmpl_else>
   <tr class="dark">
   </tmpl_if>
     <td class=number><tmpl_var name="id"></td>
     <td><img src="{tmpl_var name='IMAGES_DIR'}soldier_icon.gif" align=absmiddle hspace=2><a href="{tmpl_var name='playerdetaillink'}"><tmpl_var name="name"></a></td>
     <td class=number><tmpl_var name="time"></td>
   </tr>
   </tmpl_loop>
</tmpl_if>
<tmpl_if name="isGameSearch">   
   <tr class=head>
     <th>ID</th>
     <th>Servername</th>
     <th>Mod</th>
     <th>Map</th>
     <th>GameMode</th>
     <th>Starttime</th>
   </tr>  
   <tmpl_loop name="searchresults">
   <tmpl_if name="__EVEN__">
   <tr class="light">
   <tmpl_else>
   <tr class="dark">
   </tmpl_if>
     <td><tmpl_var name="id"></td>
     <td><a href="{tmpl_var name='gamedetaillink'}"><tmpl_var name="servername"></td>
     <td><tmpl_var name="mod"></td>
     <td><tmpl_var name="map"></td>     
     <td><tmpl_var name="game_mode"></td>          
     <td><tmpl_var name="time"></td>               
   </tr>
   </tmpl_loop>
</tmpl_if>
 
 </table>
<tmpl_include file="foot.html">
