<tmpl_include file="frame_head.html">
      <p>
        <h3>Welcome to the Admin-Panel!</h3><p>
        Here you can administer the different aspects of your <b>select(<i>bf</i>)</b>-statistics.<br>
        If you experience problems while using these pages check back on the <b>select(<i>bf</i>)</b>-Forum
        at <a href="http://www.selectbf.org" target=_blank>www.selectbf.org</a>.<p>
        There are also some other points where you might find help:<br>
        <a href="http://bf1942.lightcubed.com" target=_blank>Battlefield 1952 Linux Server</a><br>
        <a href="http://www.blackbagops.com" target=_blank>BlackBagOps Forum</a>
      <p>
        If you want to create you own <b>Template-set</b>, you should see the <b>vLib Template</b> documentation
        at <a href="http://vlib.activefish.com" target=_blank>vlib.activefish.com</a>.<br>
        Also look throught the <i>TEMPLATING.TXT</i> that came with your <b>select(<i>bf</i>)</b> package.
<tmpl_include file="frame_foot.html">