<tmpl_include file="frame_head.html">
      <p>
        <h3>Template-Settings</h3><p>
        <tmpl_include name="messages.inc">
        <table class=admin width=100%>
         <tr class=light>
          <td class=admin_clear width=20%><b>Active Template-Set:</b></td>
          <td class=admin_clear><i><tmpl_var name="activeTemplate"></i></td>
         </tr>
         <form action="{tmpl_var name='form_action'}" method=post>
         <tr class=light>
          <td class=admin_clear>Select Template-Set:</b></td>
          <td class=admin_clear>
           <select name="{tmpl_var name='param_template'}">
            <tmpl_loop name="templates">
             <option <tmpl_if name="selected">selected</tmpl_if>><tmpl_var name="name"></option>
            </tmpl_loop>
           </select>
          </td>
         </tr>
         <tr>
          <td colspan=2 align=right class=admin_clear><input type=submit value=Activate></td>
         </tr>
         </form>
         <tr>
          <td colspan=2><b>Preview:</b></td>
         </tr>
         <tr>
          <td colspan=2><iframe width="100%" height="300" src="../index.php">Nothing here</iframe></td>
         </tr>         
        </table>
<tmpl_include file="frame_foot.html">	  